.mid-fig{
  width: 50%;
}
.hello{
  width: 30%;
}
.wide-fig{
  width: 100%;
}
.center-fig{
  margin: auto;
}
.sub-figs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
}
figcaption{
  /* font-family: 'SourceSans3'; */
  font-family: 'Proxima-Nova-Extra-Condensed';
  font-weight: 400;
  font-size: .4em;
  flex-basis: 100%;
  gap: 200px;
}
figure .acid-warning{
  display: inline-block;
  width: 45%;
}
figure .dielectric{
  display: inline-block;
  width: 100%;
}
